<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="/statics/easy/easyui/1.7.0/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="/statics/easy/easyui/1.7.0/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/statics/easy/easyui/1.7.0/demo/demo.css">
	<script type="text/javascript" src="/statics/easy/easyui/1.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/easy/easyui/1.7.0/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/statics/easy/easyui/1.7.0/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/statics/common/easy_validator.js"></script>
	<script type="text/javascript" src="/statics/vue/vue.js"></script>
</head>
<body>
	    <form id="ff" method="post">
	    	<input type="hidden" name="id" :value="formData.id">
	    	<table cellpadding="5" style="display: block">
	    		<tr>
	    			<td>姓名:</td>
	    			<td><input class="easyui-textbox" type="text" name="name" data-options="required:true,validType:['chinese','length[2,4]']" autocomplete="off" ></input></td>
	    		</tr>
	    		<tr>
	    			<td>部门:</td>
	    			<td>
	    				<input id="orgId" name="orgId" data-options="required:true">
					</td>
	    		</tr>
	    		<tr>
	    			<td>职位:</td>
	    			<td>
	    				<input id="occupation" name="occupation" >
					</td>
	    		</tr>
	    		<tr>
	    			<td>手机:</td>
	    			<td><input class="easyui-textbox" type="text" name="phone" data-options="validType:['mobile']" autocomplete="off" :value="formData.phone"></input></td>
	    		</tr>
	    		<tr>
	    			<td>性别:</td>
	    			<td>
	    				<input id="sex" name="sex">
	    			</td>
	    		</tr>
	    	</table>
	    </form>
</body>
<script>
$("#orgId").combotree({
    url: "/org/d_list_for_combotree",
    panelHeight: "auto",
    editable: false
});

$("#occupation").combobox({
    url: "/dataDic/d_list?dicCode=dic_occupation",
    valueField: 'dicVal',
    textField: 'dicKey',
    panelHeight: "auto",
    editable: false
});

$("#sex").combobox({
    url: "/dataDic/d_list?dicCode=dic_sex",
    valueField: 'dicVal',
    textField: 'dicKey',
    panelHeight: "auto",
    editable: false,
    onLoadSuccess: function (){
    	$("#sex").combobox('setValue',vm.formData.sex);
    }
});

function getFormData(){
	if($("#ff").form('validate')){
		return	$("#ff").serialize();
	}
	return false;
}
</script>
</html>