<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>数据提交&文件上传</title>
</head>
<body>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		    站点名: <input type="text" name="name"><br />
		    网址: <input type="text" name="url" /><br />
		    作者: <input type="text" name="author" /><br />
		    上传文件: <input type="file" name="file" /><br />
		    上传文件2: <input type="file" name="file2" /><br />
		    <input type="submit" value="提交" />
	</form>
</body>
</html>